html{
    font-size: 62.5%;
    @media (max-width:1024px){
        font-size: 50%;
    }
    @media (max-width:896px){
        font-size: 40%;
    }
    @media (max-width:768px){
        font-size: 30%;
    }
}
body{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}
p{
    font-size: 1.6rem;
    @media (max-width:1024px){
        font-size: 1.4rem;
    }
    @media (max-width:896px){
        font-size: 1.2rem;
    }
    @media (max-width:768px){
        font-size: 1rem;
    }
}